#main-cards {
  background-color: #90BF8E;
  text-align: center;
  max-height: 170px;
  font-family: 'Lato', sans-serif;
}

#main-card {
  background-color: #5C9A5A;
  text-align: center;
  max-height: 170px;
  font-family: 'Lato', sans-serif;
}

.footer {
  background-color: #052F09;
  color: white;
  width:100%;
}

.jumbotron {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #052F09;
  text-align: left;
  background-image: url(../img/auta.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 353px 0;
}

.modal-header{
  color: #052F09;
  background-color: #90BF8E;
}







