#main-cards {
  background-color: #90BF8E;
  text-align: center;
  max-height: 170px;
  font-family: 'Lato', sans-serif;
}

#main-card {
  background-color: #5C9A5A;
  text-align: center;
  max-height: 170px;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #052F09;
  color: white;
  max-height: 65px;
}

.navbar a {
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.footer {
  background-color: #052F09;
  color: white;
}

.jumbotron {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #052F09;
  text-align: left;
  background-image: url(../img/auta.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 400px 0;
  margin-button: 0px;
}



