#main-cards {
  background-color: #90BF8E;
  text-align: center;
  max-height: 170px;
  font-family: 'Lato', sans-serif;
}

#main-card {
  background-color: #5C9A5A;
  text-align: center;
  max-height: 170px;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #052F09;
  color: white;
  max-height: 65px;
}

.navbar a {
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-nav {
  background: #052F09;
  text-align: center;
}


.footer {
  background-color: #052F09;
  color: white;
}

.jumbotron {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #052F09;
  text-align: left;
  background-image: url(../img/auta.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 400px 0;
}

.map {
  text-align: center;



}

ul {
  list-style-type: square;
  text-align: left;

}

.departments-right {
  text-align: left;
  margin-top: 80px;
}

.departments {
  color: #052F09;
}

.departments:hover{
  color: orange;
}

.department {
  color: #052F09;
  font-size: 30px;
  text-align: center;
}

.department:hover {
  color: orange;
  text-decoration: none;
}



