.navbar {
  background-color: #052F09;
  color: white;
  max-height: 65px;
  z-index: 1;
}

.navbar a {
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-nav {
  background: #052F09;
  text-align: center;
}

.dropdown-menu{
  background: #052F09;
  text-align: center;
  padding: 0 0 0 0;
}

.dropdown-item{
  color: white;
}

